body {
    margin: 0pt auto;
    padding: 0pt;
}

/* ----- top navigation bar ----- */
nav {    
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%; /* Full width */
    border-bottom: 0.5rem solid white;  
    color: white;
    background-color: #333;
    font-size: 1.2rem;
    font-family: var(--font-base,"Lato",sans-serif);
}
nav a {
    position: relative;
    display: inline-block;
    margin-top: 0.2rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    text-decoration: none;
    color: inherit;
}
nav a:hover {
    background-color: rgb(0, 127, 185);
}
nav a.active {
    background-color: #4CAF50;
}

.dropDown {
    position: relative;
    display: inline-block;
}    
.dropDownContent-hover, .dropDownContent-Click {
    display: none;
    position: absolute;
    white-space: nowrap;
    background-color: #f9f9f9;
    border: 1px dotted gray;
    box-shadow: 0pt 0.5rem 1rem 0pt rgba(0,0,0,0.2);
    z-index: 1;
} 
.dropDownContent-hover a, .dropDownContent-Click a {
    display: block;
    color: black;
    font-size: 1rem;
}
.dropDownContent-hover a:hover, .dropDownContent-Click a:hover {
    background-color: #ddd;
}
.dropDown:hover .dropDownContent-hover {
    display: block;
}
/* note: dropDownContent-click need to handle the display block<->none in javascript */

header {
    padding-top: 3rem;
    width: 100%; 
    height: 7rem;
}
header h1 {
    height: 1.5em;
    text-align: center;
    text-anchor: middle;
    vertical-align: middle;
    font-size: 2rem;
    line-height: 1em;
    background: #6cf;
    background-clip: border-box;
    border-radius: 0.2em;
    box-shadow: 0px 0px 0.5em 0.5em #6cf;
}

section {
    width: 100%;
    margin: 1rem;
}

section .flex-container {
    margin: 0rem;
	display: -webkit-flex; /* Safari */		
    display: flex; /* Standard syntax */
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
section .flex {
	padding: 0.5rem;
	-webkit-flex: 1; /* Safari */
	-ms-flex: 1; /* IE 10 */
	flex: 1; /* Standard syntax */
}

footer {
   margin-top: 1rem;
    background: #f0ffff;
    border-top: 1px solid #c0ffff;
    border-bottom: 1px solid #c0ffff;
    font-size: 1.1rem;
    text-align: center;
    align-items: center;
}
footer ul {
    font-family: var(--font-base,"Lato",sans-serif);
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul li {
    display: inline;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    color: #08e;
}
a:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2.5em;
}
  
h3 {
    font-size: 2em;
}
  
h6 {
    font-size: 1.5em;
    color: #555;
}  
h6 a {
    color: #06b;
}

ul.posts { 
    margin: 10pt auto 20pt; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}